
// SDA - GPIO8
// SCL - GPIO9

/ {
    aliases {
        lidar = &lidar;
        imu = &mpu6050;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            pinmux = <I2C0_SDA_GPIO8>, <I2C0_SCL_GPIO9>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_GPIO6>, <I2C1_SCL_GPIO15>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
};

&i2c0 {
    status = "okay";
    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050";
        reg = <0x68>;
        status = "okay";
    };
};

&i2c1 {
    status = "okay";
    lidar: lidar@62 {
        compatible = "garmin,lidar-lite-v4";
        reg = <0x62>;
        label = "LIDAR_LITE_V4";
        status = "okay";
    };
};
